@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&family=Montserrat&family=Orbitron:wght@700&family=Oswald:wght@300&display=swap');


body {
    background-color: black;
    color:black;  
    font-family:Oswald;  
    max-width:1200px;
}

main {
    background-color:lightcyan;
}

header { 
    font-family:Orbitron;
}

h2 { 
    font-family:Jura;
}


h3 { 
    font-family:Jura;
}


nav {
    background-color: lightcyan;
}